<!DOCTYPE html>
<html>
  <head>
    <title>TechBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.clydeprofile{
  width:100%;
  background-image: url(../clydeprofile);
}
    </style>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Clyde's Blog</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Page
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Search</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>
      <li><a href="https://www.youtube.com">Youtube</a></li>
      <li><a href="#">Games</a></li>
         <div class="container">
          <%= gravatar_tag current_user.email, size: 30 %>
      <% if user_signed_in? %>
      <% if current_user.avatar.url.blank? == false %>
        <%= image_tag current_user.avatar.url, size: 30 %>
        <% end %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <% end %>
      
    </ul>
  </div>
</nav>
<p>Welcome <%= current_user.email %></p>

<!-- <div class="card">
  <img src="<%= image_path('clydeprofile.jpg') %>" alt="Clyde" style="width:100%">
  <h1>Clyde E Lazenby</h1>
  <p class="title">CEO & Founder</p>
  <p>Big Cool Visions</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>
 -->

    <%= yield %>
  </body>
</html>
